
<launch>

	<arg name="debug" default="false" />
	  <arg unless="$(arg debug)" name="launch_prefix" value="" />
	  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
	  
	  <remap from="joint_states" to="ariac/joint_states" />
	
	<node name="test_server_node"   pkg="control_redesign"   type="test_server"   output="screen"   launch-prefix="$(arg launch_prefix)" />

</launch>
